/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.heroVideo {
  width: 50%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroVideo {
    width: 90%;
  }
}
